aiogram~=3.3.0
python-dotenv
librosa~=0.10.1
matplotlib~=3.8.2
numpy~=1.26.2
soundfile
environs~=10.0.0
pydub~=0.25.1
SpeechRecognition
aiohttp~=3.9.1
PyOgg>=0.6.14a1
openai>=1.7.0
mutagen~=1.47.0
redis
aioredis
