aiogram
environs
librosa
matplotlib
mutagen
numpy
openai
pydub
PyYAML
SpeechRecognition==3.10.4
tortoise-orm
asyncpg
redis==5.0.4
aiogram-dialog
setuptools

httpx
python-dotenv
google-cloud-texttospeech
aiohttp
aerich
